@font-face { font-family: 'NEXON Lv1 Gothic OTF'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
    margin: 0;
    padding: 0;
    font-family: NEXON Lv1 Gothic OTF;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

.section01{
    width: 100%;
    background-color: #fff;
}

.main_bg{
    background: url('../images/sec01.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 85vh;
    /* background-attachment: fixed; */
}

.logo img{
    width: 11%;
    margin-top: 1%;
    margin-bottom: 10%;
}

.title01 h1{
    font-size: 3.5vh;
    margin-bottom: 1.5%;
    font-family: NEXON Lv1 Gothic OTF;
    color: rgba(0, 0, 0, 0.8);
}

.sub>h1{
    font-size: 5vh;
    color: #053366;
}

.main_con{
    font-family: NEXON Lv1 Gothic OTF;
}

.border1{
    border: 1px solid gainsboro;
    box-sizing: border-box;
}
.border2{
    border: 1px solid gainsboro;
    box-sizing: border-box;
}
.border3{
    border: 1px solid gainsboro;
    box-sizing: border-box;
}
.border4{
    border: 1px solid gainsboro;
    box-sizing: border-box;
}

.main_con-txt img{
    width: 18%;
    margin-top: 4%;
}
.main_con-txt p{
    margin-top: 2%;
}
.main_con-txt h3{
    margin-bottom: 7%;
}


/* section01 end
------------------------------------------------- */



.section02{
    background-color: whitesmoke;
    width: 100%;
}

.title02{
    margin-top: 10%;
    font-family: NEXON Lv1 Gothic OTF;
}

.title02 h4{
    margin-top: 5%;
    margin-bottom: 5%;
}

#sg,#mc,#tb,#sb,#rf{
    display: none;
}

.sgtxt, .mctxt, .tbtxt, .sbtxt, .rftxt{
    display: none;
}

.wc{
    background-color: #f2f4f3;
}
.sg{
    background: #444746;
}
.mc{
    background-color: #172032;
}
.tb{
    background: black;
}
.sb{
    background-color: #351416;
}
.rf{
    background: #25312f;
}

.tap-img>div{
    position: relative;
}

.tab-car-img img{
    width: 80%;
}


.palette{
    margin-bottom: 7%;
}
.palette_box>ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

.palette_box>ul>li{
    width: 40px;
    height: 40px;
    margin: 10px 5px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 50px;
}
.text-content>ul>li{
    list-style: none;
    margin: 5% 0;
    font-family: NEXON Lv1 Gothic OTF;
}


/* section02 end
------------------------------------------------- */


.section03{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.title03{
    margin-top: 5%;
    font-family: NEXON Lv1 Gothic OTF;
}

.title03 h4{
    margin-top: 2%;
    margin-bottom: 1%;
}
.title03 h5{
    margin-bottom: 2%;
}

.left1{
    overflow: hidden;
    margin: 0;
    padding: 0;

}
.left2{
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 1%;
}
.left1 img{
    width: 98%;
    float: right;
}
.left2 img{
    width: 98%;
    float: right;
}


.right1, .right2, .right3{
    margin: 0;
    padding: 0;
    /* position: relative; */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.right1 img{
    width: 100%;
    position: absolute;
}
.right1-bg{
    width: 100%;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: absolute;
    top: 0;
    display: none;
}
.right1-bg>h4{
    width: 100%;
    color: #fff;
    z-index: 100;
    text-align-last:center;
    margin-top: 4vw;
}
.right1:hover .right1-bg{
    display: flex;
}

/* ------------------------------------------------- */

.right2 img{
    width: 100%;
    text-align: center;
}
.right2-bg{
    width: 100%;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
    position: absolute;
}
.right2-bg>h4{
    width: 100%;
    color: #fff;
    z-index: 100;
    text-align-last:center;
    margin-top: 4vw;
}
.right2:hover .right2-bg{
    display: flex;
}

/* ------------------------------------------------- */

.right3 img{
    width: 100%;
    position: absolute;
}

.right3-bg{
    width: 100%;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: absolute;
    top: 0;
    display: none;
}
.right3-bg>h4{
    width: 100%;
    color: #fff;
    z-index: 100;
    text-align-last:center;
    margin-top: 4vw;
}
.right3:hover .right3-bg{
    display: flex;
}


/* ------------------------------------------------- */

.right4, .right5, .right6{
    margin: 0;
    padding: 0;
    /* position: relative; */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

/* ------------------------------------------------- */

.right4 img{
    width: 100%;
    position: absolute;
}
.right4-bg{
    width: 100%;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: absolute;
    top: 0;
    display: none;
}
.right4-bg>h4{
    width: 100%;
    color: #fff;
    z-index: 100;
    text-align-last:center;
    margin-top: 4vw;
}
.right4:hover .right4-bg{
    display: flex;
}

/* ------------------------------------------------- */

.right5>img{
    width: 100%;
}
.right5-bg{
    width: 100%;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
    position: absolute;
}
.right5-bg>h4{
    width: 100%;
    color: #fff;
    z-index: 100;
    text-align-last:center;
    margin-top: 4vw;
}
.right5:hover .right5-bg{
    display: flex;
}
/* ------------------------------------------------- */

.right6>img{
    width: 100%;
}
.right6-bg{
    width: 100%;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
    position: absolute;
}
.right6-bg>h4{
    width: 100%;
    color: #fff;
    z-index: 100;
    text-align-last:center;
    margin-top: 4vw;
}
.right6:hover .right6-bg{
    display: flex;
}



/* section03 end
------------------------------------------------- */

.section04{
    width: 100%;
}

.title04{
    margin-top: 5%;
    font-family: NEXON Lv1 Gothic OTF;
}

.title04 h4{
    margin-top: 2%;
    margin-bottom: 1%;
}
.title04 h5{
    margin-bottom: 2%;
}

.tab-content img{
    width: 100%;
}

/* ----------------------------------------Bootstrap tabs */
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
     text-align: center;
     background-color: #053366;
     color: white;
}
.nav-pills > li > a {
     text-align: center;
     background-color: gainsboro;
     color: #fff;
     border: 1px solid #fff;
     box-sizing: border-box;
}
.nav-pills.nav-justified > .active > a,
.nav-pills.nav-justified > .active > a:hover,
.nav-pills.nav-justified > .active > a:focus {
     border: 1px solid rgba(0,0,0,.35);
     box-sizing: border-box;
}

.nav>li>a:focus, .nav>li>a:hover {
       text-decoration: none;
       background-color: #555;
       border: 1px solid rgba(0,0,0,.35);
       box-sizing: border-box;
}
/* ----------------------------------------Bootstrap tabs end*/

.tab-content{
    margin-bottom: 100px;
}
.btn-info{
    width: 100%;
    background-color: #555;
    color: white;
    border: 1px solid rgba(0,0,0,.35);
    box-sizing: border-box;
}

.btn-info:hover, .btn:focus{
    text-decoration: none;
    background-color: #053366;
    color: white;
    border: 1px solid rgba(0,0,0,.35);
    box-sizing: border-box;
}

/* section04 end
------------------------------------------------- */