@import url("reset.css");

@font-face{
  font-family: 'LORENZA';
  src: url('/font/LORENZA.woff2');
  src: url('/font/LORENZA.eot');} 

@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }


@font-face { font-family: 'BMEULJIRO'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); font-weight: normal; font-style: normal; }

li {
  list-style: none;
}

#section01 {
  width: 100%;
  background: url(../img/1page.jpg) top center no-repeat;
}

.main_txt{
  font-family: LORENZA;
  letter-spacing: -2px;
  opacity: 0.3;
  text-shadow: 0 0.3px 0 rgba(0,0,0,0.5);
  color: #fff;
  width: 100%;
}

.main_txt p{
  font-size: 10vw;
  text-align: center;
}

.sub_txt{
  font-family: BMEULJIRO;
  font-size: 25px;
  opacity: 0.5;
  color: #fff;
  padding-top: 30px;

  width: 100%;
  text-align: center;
}



.main-txt-box{
  position: relative;
  padding-top: 20%;
  padding-bottom: 18%;
}

@media(max-width:767px){
  .main-txt-box{
    padding-top: 50%;
    padding-bottom: 40%;
   }
}


/* --------------------------------------------------------- */


.swiper-slide li a {
  text-decoration: none;
  color: #fff;
  line-height: 100px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* -------------------------------------------------------------- */


/**메뉴부분 마우스 오버시 색상 **/
.swiper-slide li a:hover {
  border-top: 2px solid #fff;
  padding-top: 40px;
  color: #fc0;
}

.swiper-slide li:nth-child(2) a:hover {
  border-top: 2px solid #fff;
  padding-top: 40px;
  color: #fc0;
}

.swiper-slide li:nth-child(3) a:hover {
  border-top: 2px solid #fff;
  padding-top: 40px;
  color: #fc0;
}

.swiper-slide li:nth-child(4) a:hover {
  border-top: 2px solid #fff;
  padding-top: 40px;
  color: #fc0;
}

.swiper-slide li:nth-child(5) a:hover {
  border-top: 2px solid #fff;
  padding-top: 40px;
  color: #fc0;
}

/* ---------------------------------------------------------- */
.swiper1 {
  width: 100%;
  /* height: 1000px; */

}

.swiper-slide{
position: fixed;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;
  background-color:rgba(0, 0, 0, 0.5);
}


.menu-button {
  position: absolute;
  top: 0px; 
  left: 0px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}


#logo {
  display: block;
  width: 80px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}


.menu-button:hover #logo {
  -webkit-transform: translateY(10px) rotate(-30deg);
  -ms-transform: translateY(10px) rotate(-30deg);
  transform: translateY(10px) rotate(-30deg);
}

/* ------------------------------------------------------------ */


#section02 {
  width: 100%;
  background: #fff;
  margin: 0 auto;
}

.hanok-bg{
  width: 80%;
  display: block;
  margin: 0 auto;
  align-items: center;
  padding-top: 10%;
}

  .hanok-title {
    font-family: BMEULJIRO;
    color: #181818;
    width: 100%;
    font-size: 50px;
    text-align: center; 
  }

  .hanok-sub{
    width: 100%;
    display: block;
    /* background: yellow; */
  }

    .hanok-img {
      width: 100%;
      margin: 0 auto;
      padding-top: 8%;
      display: flex;
      justify-content: space-between;
}

    .hanok-img >img {
     width: 25%
    }

    .hanok-txt {
      font-family: RIDIBatang;
      letter-spacing: 0.4px;
      width: 100%;
      margin: 0 auto;
      padding-top: 3%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10%;
    }

      .hanok-txt> div h1{
        padding-bottom: 8%;
        font-size: 20px;
        text-align: center;
        line-height: 150%;
        font-weight: bold;
        color: rgb(143, 82, 2);
      }

      .hanok-txt> div p{
        padding: 0 10%;
        line-height: 120%;
      }

      
        .txt-box1{
          width: 300px;
          height: 200px;
        }
        .txt-box2{
          width: 300px;
          height: 200px;;
        }
        .txt-box3{
          width: 300px;
          height: 200px;
        }
        .txt-box4{
          width: 300px;
          height: 200px;
        }



/* ----------------------------------------------------------- */

#section03 {
  width: 100%;
  background: url(../img/2page.jpg) top center no-repeat;
  margin: 0 auto;
}

.bg3 {
  width: 80%;
  margin: 0 auto;
}

    .bg3-title {
      font-family: BMEULJIRO;
      width: 100%;
      text-align: center;
      color: #181818;
      font-size: 50px;
      text-align: center; 
      margin-bottom: 15%;
      padding-top: 12%;
    }


.bg3-main{
  display: flex;
  width: 100%;
}

  .bg3-img{
    width: 50%;
  }


  .bg3-txt {
    width: 50%;
    font-family: RIDIBatang;
    letter-spacing: 0.4px;
    margin-left: -10%;
    text-align: center;
    margin-bottom: 10%;
  }
    
    .bg3-txt> h1{
      font-size: 23px;
      color: #fff;
      padding-bottom: 7%;
    }

    .bg3-txt> p{
      line-height: 250%;
      color: #fff;
      width: 100%;
    }


/* ------------------------------------------------------------- */


#section04 {
  width: 100%;
  background: url(../img/3page.jpg) top center no-repeat;

}

  .bg4{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding-top: 10%;
  }

    .bg4-title {
      font-family: BMEULJIRO;
      color: #181818;
      width: 100%;
      font-size: 50px;
      text-align: center; 
      padding-bottom: 7%;
    }

    .content4{
      width: 100%;
      display: flex;
      padding-bottom: 20%;
    }

      .bg4-txt{
        width: 50%;
        font-family: RIDIBatang;
        margin-left: 20%;
      }

          .bg4-txt> h1{
            font-size: 23px;
            font-weight: bold;
            color: rgb(238, 34, 34);
            padding-bottom: 8%;
          }  

          .bg4-txt> p{
            padding: 0 5%;
            line-height: 250%;
            color: #000
          }

          .bg4-img{
              width: 50%;
            }

          .bg4-img img{
            width: 40%;
          }

    

/* ------------------------------------------------------------ */
#section05 {
  width: 100%;
  background: #fff
}

.map-txt{
  font-size: 50px;
  font-family: BMEULJIRO;
  color: #181818;
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 7%;
}

.map-container{
  width: 100%;
}

.map{
  width: 100%;
  height: 450px;
  position: center;
  background-color: #fff;
}

.road-txt {
  align-items: center;
  font-family: RIDIBatang;
  letter-spacing: 0.4px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  line-height: 170%;
  padding-top: 2%;
  padding-bottom: 3%;
}


.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
        
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
        
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
        
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
        
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}




/* media */
@media (max-width: 576px){
  .hanok-txt{
    display: block;
    margin: 0 auto;
  }

  .hanok-title{
    margin-top: 8%;
    margin-bottom: 10%;
  }

  .img1, .img2, .img3{
    display: none;
  }

  .img4{
    margin: 0 auto;
    margin-bottom: 10%;
  }


  .bg3-main{
    display: block;
  }

    .bg3-title{
      margin-top: 8%;
      margin-bottom: 20%;
    }

      .bg3-txt{
        margin: 0 auto;
        display: block;
        padding-top: 70%;
        padding-bottom: 10%;
        width: 100%
      }

      .bg3-img{
        width: 100%;
      }


  .content4{
    display: block;
  }

    .bg4-title{
      margin-top: 8%;
      margin-bottom: 20%;
    }

    .bg4-txt{
      width: 100%;
      margin: 10% auto;
    }

      .bg4-txt h1{
        font-size: 20px;
        margin-left: 9%;
        margin-bottom: 2%;
      }

    .bg4-img{
      width: 100%;
      margin-left: 30%;
    }

    .map-txt{
      margin-top: 8%;
      margin-bottom: 15%;
    }
    .road-txt{
      width: 100%;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 2%;
    }
}


















@media (max-width: 768px){
  .hanok-txt{
    display: block;
    margin: 0 auto;
  }

  .hanok-title{
    margin-top: 8%;
    margin-bottom: 10%;
  }

  .img1, .img2, .img3{
    display: none;
  }

  .img4{
    margin: 0 auto;
    margin-bottom: 10%;
  }

  #section03{
    background-image: url("../img/2page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }


  .bg3-main{
    display: block;
  }

    .bg3-title{
      margin-top: 8%;
      margin-bottom: 20%;
    }

      .bg3-txt{
        margin: 0 auto;
        display: block;
        padding-top: 70%;
        padding-bottom: 10%;
        width: 100%
      }

      .bg3-img{
        width: 100%;
      }

#section04{
  background-image: url("../img/3page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

  .content4{
    display: block;
  }

    .bg4-title{
      margin-top: 8%;
      margin-bottom: 5%;
    }

    .bg4-txt{
      width: 100%;
      margin: 5% 0%;
    }

      .bg4-txt h1{
        font-size: 20px;
        margin-left: 9%;
      }

    .bg4-img{
      width: 100%;
      margin-left: 30%;
    }

    .map-txt{
      margin-top: 8%;
      margin-bottom: 15%;
    }
    .road-txt{
      width: 100%;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 2%;
    }
}

